@import './bootstrap.min.css';

.qPage {
  width: 100%;
  height: 100%;
  position: relative;
  background: #ECF0F1;
}

.qHeader {
  height: 300px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.qHeader h1, .qHeader h2 {
  margin: 0;
}

.qHeader h1 {
  font-size: 100px;
  font-weight: bold;
}

.qBody {
  height: 100%;
}

.qList {
  height: 100%;
  width: 100%;
}

.qItem {
  margin: 45px 30px;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.34);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.34);
  background: #fff;
}

.qNumber {
  text-align: center;
  padding: 0 20px;
  font-size: 150px;
  color: #fff;
  font-weight: bold;
  min-width: 300px;
  line-height: 1.3;
  display: table-cell;
  vertical-align: middle;
}

.qNameContainer {
  padding: 0 20px;
  overflow: hidden;
  font-size: 70px;
  display: table-cell;
  vertical-align: middle;
}

.qName {
  display: block;
  font-size: 50px;
  line-height: 2;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 500px;
}
